.plan {
    width: 26.7%;
    padding: 0%;
    margin: 30px 1.5%;
    background-color: rgb(162, 135, 135);
    border: solid 1px black;
    border-radius: 1px;
    float: left;
    text-align: justify;
    color: white;
}

body{
    background-color: rgb(204, 173, 173);
}

/*CONTACTO*/
.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
    background-repeat: no-repeat;
}

/*CONTACTO*/
.formulario {
    background-color: var(--rosa);
    border: 1px solid var(--negro);
    width: min(60rem, 100%);
    /* utilizar el valor mas pequeño  */
    margin: 0 auto;
    /* centramos el formulario, esto se ocupa cuando el padre no es un display flex y 
    cuando es un elemento como en este caso un formulario */
    padding: 2rem;
}

.campo {
    margin-bottom: 1rem;
}

.campo__label {
    margin-bottom: .5rem;
    display: block;
    font-weight: bold;
}

.campo__field--textarea {
    height: 20rem;
}

.campo__field {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid var(--negro);
}

@media (min-width: 768px) {
    .formulario {
        border: none;
        margin: -5rem auto 0 auto;
        width: 95%;
        padding: 5rem;
    }

    .campo {
        display: flex;
        margin-bottom: 2rem;
        gap: 2rem;
    }

    .campo__label {
        flex: 0 0 9rem;
        /* esto dejara fijo el tamaño del label en 9 rem */
        text-align: right;
        padding-right: 2rem;
    }

    .campo__field {
        flex: 1;
    }

    .campo__field--textarea {
        height: 20rem;
    }
}

section {
    margin: 0 auto;
    width: 100%;
    outline: 1px solid white;
}