.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: 400;
}

.logo__bold {
    font-weight: 700;
}


a {
    text-decoration: none;
}

#descripcion {
    resize: none;
}

body {
    background: #304352;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d7d2cc, #304352);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#carnet {
    max-width: 40%;
}

#edad, #estado {
    max-width: 80%;
}

body label{
    font-weight: bold;
}


