:root{
    --fuenteHeadding: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784D3C;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html{
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before, *:after {
    box-sizing: inherit;
} 

body {
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}


/* GLOBALES */  
.contenedor {
    max-width: 120rem;
    width: 95%;
    /* margin: min(90%, 120rem); otra  manera de hacerlo en una sola linea de codigo */
    margin: 0 auto;
}

@media (min-width: 768px) { 
    .contenedor {
        width: 70%;
    }
}


a {
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeadding);
    line-height: 1.2;
}
h1 {
    font-size: 4.8rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3.2rem;
}
h4{
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}


/* UTILIDADES */

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}

/* HEADER */
.webp .header {
    background-image: url(..img/img/banner.webp);
}
.no-webp .header {
    background-image: url(..img/banner.jpg);
}
.header {
    background-image: url(../img/banner.jpg);
    height: 40rem;
    background-size: cover; /* para que tome todo el espacio disponible */
    background-repeat: no-repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}
.barra {
    padding: 4rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo{
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 400;
}
.logo__bold {
    font-weight: 700;
}

@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }   
}

.navegacion__enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

/* index */
.horizontal-split {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  
  .left-half {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 10px;
    
  }
  
  .right-half {
    flex: 1;
    display: flex;
    flex-direction: column;
    
  }
  
  
  .titulo {
    font-style: arial;
    font-size: 35px; 
    color: #53402b; 
    margin-bottom: 10px;
  }

  .main-content {
    margin: 30px; /* Alinea el contenido principal a la derecha de la barra lateral */
    padding: 20px;
}